<h1>Statistics</h1>

<p>Sorted Numbers: <%= @sorted_numbers %>
<p>Count: <%= @count %>
<p>Minimum: <%= @minimum %>
<p>Maximum: <%= @maximum %>
<p>Range: <%= @range %>
<p>Median: <%= @median %>
<p>Sum: <%= @sum %>
<p>Mean: <%= @mean %>
<p>Variance: <%= @variance %>
<p>Standard Deviation: <%= @standard_deviation %>
<p>Mode: <%= @mode %>
